$lightGreen: #b6d3bd;
$lightBg: #fff;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $lightGreen;

  .section-signin {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #555;
  }
  .form-signin {
    width: 100%;
    max-width: 380px;
    padding: 30px;
    margin: 5rem auto;
    border-radius: 10px;
    background: #fff;

    .form-floating:focus-within {
      z-index: 2;
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  main {
    height: 100%;
    width: 100%;

    &>div {

      padding: 30px;
      background: $lightBg;

      h1 {
        text-align: center;
      }

      .repoList {
        th {
          vertical-align: middle;
        }
        td,th {
          &:last-child {
            text-align: right;
            white-space: nowrap;
          }
          table {
            width:100%;

            tbody {
              display:block;
              max-height:160px;
              overflow-y:scroll;
            }

            thead, tbody tr {
              display:table;
              width:100%;
              table-layout:fixed;
            }
          }
        }
      }

    }
  }

  .loading {
    position: fixed;
    height: 100vh;
    background: #000000dd;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99999;

    .lds-hourglass {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
    .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      box-sizing: border-box;
      border: 32px solid #fff;
      border-right-color: transparent;
      border-left-color: transparent;
      animation: lds-hourglass 1.2s infinite;
    }
    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }

  }

  #viewModal {
    ul {
      li {
        &.object {
          cursor: pointer;
        }
      }
      ul {
        margin: 0 30px;
      }
    }
  }
}